.splide {
    margin-top: 60px;
    padding-left: 0px;
    padding-right: 0px;

    // .splide__slide {
    //     // max-width: 284px;
    //     // max-height: 476px;
    // }

    .athlete_box {
        width: 100%;
        padding-left: 13.5px;
        padding-right: 13.5px;

        img {
            // min-height: 476px;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    // Arrow
    .splide__arrow {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3B414A;
    }

    @media (min-width: 992px) {
        padding-left: 30px;
        padding-right: 30px;
        
        .splide__arrow--prev {
            left: -30px;
        }
    
        .splide__arrow--next {
            right: -30px;
        }
    }
}