.the-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #838AA6;
    font-weight: bold;
    text-decoration: none;
    border: 1px solid #838AA6;
    border-radius: 50px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;

    &:hover {
        color: #838AA6;
    }

    @media (min-width: 992px) {
        font-size: 16px;
    }
}

.box-post {
    min-height: 300px;
    padding: 22px 25px;
    padding-top: 0;

    .post-nav {
        border-bottom: 1.5px solid rgba(255, 255, 255, .3);
        margin-bottom: 43px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            .link {
                display: flex;
                align-items: center;
                font-size: 18px;
                color: #fff;
                text-decoration: none;
                height: 90px;
            }
        }
    }

    .item {
        border-bottom: 2px solid rgba(255, 255, 255, .3);
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .item:last-child {
        border-bottom: none;
        margin-bottom: 0;
    }

    .top-post {
        display: flex;
        align-items: center;

        .avatar {
            border-radius: 50px;
            max-width: 55px;
            max-height: 55px;
        }

        .name {
            margin: 0;
            margin-left: 15px;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .featured {
        min-width: 100%;
        max-width: 100%;
        margin-top: 31px;
    }

    .time {
        font-size: 15px;
        color: #F5F6F6;
        margin-top: 15px;
        margin-bottom: 0;
    }

    .title {
        font-size: 24px;
        margin-top: 15px;
        font-weight: 600;
        color: #F5F6F6;
    }

    .subtitle {
        margin-top: 15px;
        line-height: 30px;
    }

    @media (min-width: 992px) {
        padding: 22px 50px;
        padding-top: 0;
    }
}

.fighter-box-mini {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;
    padding-bottom: 30px;
}

.fighter-box-right {
    .subtitle {
        font-size: 18px;
        line-height: 30px;
        margin-top: 15px;
    }
}

.fighter-box-left {

    .top {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-bottom: 1.5px solid rgba(255, 255, 255, .3);
        padding-bottom: 30px;

        .name {
            margin-top: 15px;
        }

    }
}

.suporting {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
    margin-left: -25px;
    margin-right: -25px;

    li:nth-of-type(even):not(.header) {
        
        .link {
            background-color: black;
        }
    }

    .header {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .link {
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        padding: 10px 25px;
        height: 75px;

        .avatar {
            min-width: 55px;
            min-height: 55px;
            border-radius: 50px;
            margin-right: 15px;
        }
    }
}


