.myfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 38px;
    padding-left: 25px;
    padding-right: 25px;
}

.footer-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50%;

    .link {
        display: flex;
        padding: 10px 0;
        font-size: 15px;
        text-decoration: none;
        color: #fff;
    }

    .item-header {
        font-size: 15px;
        font-weight: 700;
        color: #838AA6;
    }

    @media (min-width: 992px) {
        width: auto;
    }
}

.footer-bottom {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 60px;
    flex-wrap: wrap;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;

    .link {
        position: relative;
        height: 60px;
        display: flex;
        align-items: center;
        // padding: 0 25px;
        color: #fff;
        text-decoration: none;
        white-space: nowrap;

        .dot {
            display: inline-flex;
            background-color: #fff;
            width: 3px;
            height: 3px;
            border-radius: 50px;
            margin-right: 25px;
        }
    }

    @media (min-width: 992px) {
        width: auto;

        li:first-child {
            .dot {
                display: none !important;
            }
        }
    }
}

.footer-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;

    .btn {
        background-color: transparent;
        color: #fff;
        box-shadow: none;
    }
}